body, html {
    height: 100%;
    }
    .bg {
    background-image: url("../pictures/main-page.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }